Repository quintalwebsolutions/quintal-oss, changes with the labels that .github/labeler.yml gives for each.
All labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

.github/labeler.yml:

################################################################################
# THIS FILE IS (PARTIALLY) AUTO-GENERATED USING `pnpm generate`.               #
# TO EDIT THE CONTENT, PLEASE MODIFY `/workspace.ts` OR `/scripts/generate.ts` #
################################################################################

"@quintal/config":
  - changed-files:
    - any-glob-to-any-file: packages/config/*

"@quintal/environment":
  - changed-files:
    - any-glob-to-any-file: packages/environment/*

"@quintal/form-engine-react":
  - changed-files:
    - any-glob-to-any-file: packages/form-engine-react/*

"@quintal/monads":
  - changed-files:
    - any-glob-to-any-file: packages/monads/*

"@quintal/table-engine-react":
  - changed-files:
    - any-glob-to-any-file: packages/table-engine-react/*

Support providing the environment variable directly as a string
  .changeset/tall-nails-obey.md
  packages/environment/README.md
  packages/environment/src/index.ts
  packages/environment/tests/index.spec.ts
Labels: @quintal/environment

Remove description
  packages/environment/README.md
  packages/environment/tests/index.spec.ts
Labels: @quintal/environment

Remove description again
  packages/environment/README.md
Labels: @quintal/environment

Update infra
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/actions/collect_coverage/action.yml
  .github/actions/setup/action.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  .syncpackrc.json
  biome.json
  package.json
  packages/config/package.json
  packages/config/vite.mjs
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/monads/package.json
  packages/monads/src/result/result-constructor.ts
  packages/monads/src/util.ts
  packages/table-engine-react/package.json
  pnpm-lock.yaml
  turbo.json
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Update pipelines, packages and infra
  .changeset/rotten-dryers-bake.md
  .github/actions/collect_test_analytics/action.yml
  .github/workflows/check.yml
  .github/workflows/labeler.yml
  .github/workflows/labels.yml
  .github/workflows/release.yml
  biome.json
  package.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/config/vite.mjs
  packages/environment/package.json
  packages/environment/vite.config.mjs
  packages/form-engine-react/package.json
  packages/form-engine-react/vite.config.mjs
  packages/monads/package.json
  packages/monads/vite.config.mjs
  packages/table-engine-react/package.json
  packages/table-engine-react/vite.config.mjs
  pnpm-lock.yaml
  scripts/generate.ts
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Pipeline tweaks
  .github/workflows/check.yml
  .github/workflows/release.yml
  .npmrc
  .syncpackrc.json
  package.json
  packages/config/package.json
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/monads/package.json
  packages/table-engine-react/package.json
  pnpm-lock.yaml
  turbo.json
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Remove pnpm version from pipeline
  .github/actions/setup/action.yml
Labels: none

Move dependencies upstream
  package.json
  packages/config/package.json
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/monads/package.json
  packages/table-engine-react/package.json
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Tweak biomejs
  .vscode/quintal-oss.code-workspace
  biome.json
  package.json
  packages/config/package.json
  packages/config/tsconfig/base.json
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/form-engine-react/src/plugins/numberPlugin.ts
  packages/monads/package.json
  packages/monads/src/result/async-result.ts
  packages/monads/src/result/util.ts
  packages/monads/tests/result.spec.ts
  packages/table-engine-react/package.json
  packages/table-engine-react/tests/plugins/defaultValuePlugin.spec.ts
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Remove node version
  .npmrc
Labels: none

Fix typo
  .github/workflows/check.yml
Labels: none

Add explicit file pointer in codecov uploader
  .github/actions/collect_test_analytics/action.yml
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/monads/package.json
  packages/table-engine-react/package.json
  scripts/generate.ts
Labels: @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Add codecov token to check pipeline
  .github/workflows/check.yml
  scripts/generate.ts
Labels: none

Tweak turbo json
  turbo.json
Labels: none

Add description to codecov token
  .github/actions/collect_test_analytics/action.yml
  scripts/generate.ts
Labels: none

Add description for codecov token
  .github/actions/collect_test_analytics/action.yml
  package.json
Labels: none

Disable search on codecov bot
  .github/actions/collect_test_analytics/action.yml
  packages/config/tsconfig.json
  scripts/generate.ts
Labels: @quintal/config

Skip upload step if coverage file does not exist
  .github/actions/collect_test_analytics/action.yml
  scripts/generate.ts
Labels: none

Rename generic type params to fit with new requirements
  biome.json
  packages/environment/src/index.ts
  packages/monads/src/option/option-constructor.ts
  packages/monads/src/option/option.ts
  packages/monads/src/option/util.ts
  packages/monads/src/result/result-constructor.ts
  packages/monads/src/result/result.ts
  packages/monads/src/result/util.ts
  packages/monads/src/util.ts
  packages/monads/tests/option.spec.ts
  packages/monads/tests/result.spec.ts
  packages/monads/tests/util.ts
Labels: none

Remove some biome-ignore comments
  packages/monads/src/result/async-result.ts
  packages/monads/tests/result.spec.ts
Labels: none

Remove build from check step
  .github/actions/collect_test_analytics/action.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  scripts/generate.ts
  turbo.json
Labels: none

Add codecov token to build task hash
  turbo.json
Labels: none

Add junit.xml to gitignore
  .gitignore
Labels: none

Update docs generation
  .changeset/large-jobs-beg.md
  README.md
  packages/config/README.md
  packages/config/package.json
  packages/config/tsconfig.json
  packages/config/vite.config.mjs
  packages/environment/README.md
  packages/environment/package.json
  packages/form-engine-react/README.md
  packages/monads/README.md
  packages/table-engine-react/README.md
  scripts/generate.ts
  workspace.ts
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Rollback config changes
  packages/config/package.json
  packages/config/tsconfig.json
  packages/config/vite.config.mjs
Labels: @quintal/config

Remove newlines in readme
  packages/environment/README.md
  packages/monads/README.md
  scripts/generate.ts
Labels: @quintal/environment, @quintal/monads

Add fromSerialized function to easily parse serialized monads back to their original form
  .changeset/brave-readers-nail.md
  packages/environment/README.md
  packages/monads/README.md
  packages/monads/src/option/option-constructor.ts
  packages/monads/src/result/async-result.ts
  packages/monads/src/result/index.ts
  packages/monads/src/result/result-constructor.ts
  packages/monads/src/result/result.ts
  packages/monads/src/result/util.ts
  packages/monads/src/util.ts
  packages/monads/tests/result.spec.ts
  workspace.ts
Labels: @quintal/environment, @quintal/monads

PR review
  packages/config/vite.mjs
  packages/monads/src/index.ts
  packages/monads/src/result/index.ts
  packages/monads/tests/result.spec.ts
Labels: @quintal/config

Rename generic types
  packages/monads/src/option/option-constructor.ts
  packages/monads/src/option/option.ts
  packages/monads/src/result/index.ts
Labels: none

Rollback comment change
  packages/monads/src/result/result-constructor.ts
Labels: none

Fix codecov link in readme
  .changeset/popular-cycles-fry.md
  README.md
  packages/config/README.md
  packages/environment/README.md
  packages/form-engine-react/README.md
  packages/monads/README.md
  packages/table-engine-react/README.md
  scripts/generate.ts
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Fix markdown issues
  .github/CODEOWNERS
  CODE_OF_CONDUCT.md
  packages/monads/README.md
Labels: @quintal/monads

Externalize deps
  packages/config/package.json
  packages/config/vite.mjs
  pnpm-lock.yaml
Labels: @quintal/config

No longer require for inferring simple ok and err types
  .changeset/eight-dryers-sip.md
  packages/monads/src/option/option.ts
  packages/monads/src/result/async-result.ts
  packages/monads/src/result/result.ts
  packages/monads/src/util.ts
  packages/monads/tests/result.spec.ts
Labels: none

Add changeset
  .changeset/healthy-poets-check.md
Labels: none

Display CI status in root readme
  README.md
  scripts/generate.ts
Labels: none

Add label to ci shield
  README.md
  scripts/generate.ts
Labels: none

Fix monads match typing being too strict
  .changeset/dirty-students-fail.md
  .changeset/two-jars-heal.md
  packages/monads/src/index.ts
  packages/monads/src/result/async-result.ts
  packages/monads/src/result/index.ts
  packages/monads/src/result/result-constructor.ts
  packages/monads/src/result/result.ts
  packages/monads/src/result/util.ts
  packages/monads/tests/result.spec.ts
Labels: none

Remove check from main branch
  .github/workflows/check.yml
  README.md
  scripts/generate.ts
Labels: none

Expose serialized result types
  .changeset/two-plants-hug.md
  packages/monads/src/index.ts
  packages/monads/src/result/index.ts
Labels: none
