Repository quintalwebsolutions/quintal-oss, changes with the labels that .github/labeler.yml gives for each.
All labels: @quintal/config, @quintal/result, @quintal/table-engine

.github/labeler.yml:

"@quintal/config":
  - packages/config/*

"@quintal/result":
  - packages/result/*

"@quintal/table-engine":
  - packages/table-engine/*

Add useAsyncReducer package
  packages/form-engine-react/package.json
  packages/form-engine-react/src/hooks/useForm.ts
  packages/form-engine-react/src/hooks/useFormState.ts
  packages/form-engine-react/src/hooks/useFormStateOld.ts
  packages/form-engine-react/src/lib/config.ts
  packages/form-engine-react/src/lib/fieldState.ts
  packages/form-engine-react/src/lib/index.ts
  packages/form-engine-react/src/lib/plugin.ts
  packages/form-engine-react/src/lib/props.ts
  packages/form-engine-react/src/lib/util.ts
  packages/form-engine-react/src/lib/validation.ts
  packages/form-engine-react/src/lib/values.ts
  packages/form-engine-react/src/plugins/checkPlugin.ts
  packages/form-engine-react/src/plugins/numberPlugin.ts
  packages/form-engine-react/src/plugins/switchPlugin.ts
  packages/form-engine-react/src/plugins/textAreaPlugin.ts
  packages/form-engine-react/src/plugins/textPlugin.ts
  packages/form-engine-react/test/plugin.spec.ts
  packages/form-engine-react/test/useForm.spec.ts
  packages/form-engine-react/test/validation.spec.ts
  packages/form-engine-react/tsconfig.json
Labels: none

Some tweaking
  .changeset/big-guests-sit.md
  .vscode/quintal-oss.code-workspace
  packages/config/package.json
  packages/result/package.json
  packages/table-engine-react/src/plugins/renderPlugin.tsx
  packages/table-engine-react/tsconfig.json
  packages/use-async-reducer/.eslintrc.js
  packages/use-async-reducer/.prettierrc.js
  packages/use-async-reducer/package.json
  packages/use-async-reducer/src/index.ts
  packages/use-async-reducer/test/index.spec.ts
  packages/use-async-reducer/tsconfig.json
  packages/use-async-reducer/vite.config.js
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

Enable instant syncronous initialization
  packages/form-engine-react/src/hooks/useFormState.ts
  packages/form-engine-react/src/plugins/checkPlugin.ts
  packages/form-engine-react/src/plugins/index.ts
  packages/form-engine-react/src/plugins/switchPlugin.ts
  packages/form-engine-react/src/plugins/textAreaPlugin.ts
  packages/use-async-reducer/README.md
  packages/use-async-reducer/src/index.ts
  packages/use-async-reducer/test/index.spec.ts
Labels: none

Start second rewrite
  packages/form-engine-react/old/src/hooks/index.ts
  packages/form-engine-react/old/src/hooks/useForm.ts
  packages/form-engine-react/old/src/hooks/useFormProps.ts
  packages/form-engine-react/old/src/hooks/useFormState.ts
  packages/form-engine-react/old/src/hooks/useFormStateOld.ts
  packages/form-engine-react/old/src/hooks/useInitialState.ts
  packages/form-engine-react/old/src/index.ts
  packages/form-engine-react/old/src/lib/config.ts
  packages/form-engine-react/old/src/lib/fieldState.ts
  packages/form-engine-react/old/src/lib/index.ts
  packages/form-engine-react/old/src/lib/plugin.ts
  packages/form-engine-react/old/src/lib/util.ts
  packages/form-engine-react/old/src/lib/validation.ts
  packages/form-engine-react/old/src/lib/values.ts
  packages/form-engine-react/old/src/plugins/checkPlugin.ts
  packages/form-engine-react/old/src/plugins/index.ts
  packages/form-engine-react/old/src/plugins/numberPlugin.ts
  packages/form-engine-react/old/src/plugins/selectPlugin.ts
  packages/form-engine-react/old/src/plugins/switchPlugin.ts
  packages/form-engine-react/old/src/plugins/textAreaPlugin.ts
  packages/form-engine-react/old/src/plugins/textPlugin.ts
  packages/form-engine-react/old/test/plugin.spect.ts
  packages/form-engine-react/old/test/useForm.spect.ts
  packages/form-engine-react/old/test/validation.spect.ts
  packages/form-engine-react/old/test/values.spect.ts
  packages/form-engine-react/src/index.ts
  packages/form-engine-react/src/lib/fields.ts
  packages/form-engine-react/src/lib/index.ts
  packages/form-engine-react/src/lib/plugin.ts
  packages/form-engine-react/src/plugins/index.ts
  packages/form-engine-react/src/plugins/textInputPlugin.ts
  packages/form-engine-react/test/fields.spec.ts
  packages/use-async-reducer/src/index.ts
Labels: none

Add props file
  packages/form-engine-react/src/lib/props.ts
  packages/form-engine-react/src/plugins/textInputPlugin.ts
Labels: none

Fix advanced initialization typing for useAsyncReducer
  .changeset/grumpy-ravens-attend.md
  packages/form-engine-react/src/hooks/useForm.ts
  packages/form-engine-react/src/hooks/useFormProps.ts
  packages/form-engine-react/src/hooks/useFormState.ts
  packages/form-engine-react/src/hooks/useInitialState.ts
  packages/form-engine-react/src/lib/config.ts
  packages/form-engine-react/src/lib/index.ts
  packages/form-engine-react/src/lib/plugin.ts
  packages/form-engine-react/src/lib/props.ts
  packages/form-engine-react/src/lib/util.ts
  packages/form-engine-react/src/lib/validation.ts
  packages/form-engine-react/src/plugins/numberPlugin.ts
  packages/form-engine-react/src/plugins/selectPlugin.ts
  packages/form-engine-react/src/plugins/textAreaPlugin.ts
  packages/form-engine-react/src/plugins/textPlugin.ts
  packages/form-engine-react/test/plugin.spec.ts
  packages/form-engine-react/test/useForm.spec.ts
  packages/form-engine-react/test/values.spec.ts
  packages/use-async-reducer/src/index.ts
  packages/use-async-reducer/test/index.spec.ts
Labels: none

Add runResult and asyncRunResult to resutl package
  .changeset/three-drinks-pump.md
  packages/config/README.md
  packages/result/README.md
Labels: @quintal/config, @quintal/result

Add syncpack and nuke form package again lol
  package.json
  packages/config/package.json
  packages/config/vite.js
  packages/form-engine-react/README.md
  packages/form-engine-react/old2/src/hooks/useForm.ts
  packages/form-engine-react/old2/src/index.ts
  packages/form-engine-react/old2/src/lib/fields.ts
  packages/form-engine-react/old2/src/lib/index.ts
  packages/form-engine-react/old2/src/lib/plugin.ts
  packages/form-engine-react/old2/src/lib/props.ts
  packages/form-engine-react/old2/src/lib/util.ts
  packages/form-engine-react/old2/src/lib/validation.ts
  packages/form-engine-react/old2/src/plugins/index.ts
  packages/form-engine-react/old2/src/plugins/textAreaPlugin.ts
  packages/form-engine-react/old2/src/plugins/textInputPlugin.ts
  packages/form-engine-react/old2/test/fields.spect.ts
  packages/form-engine-react/old2/test/plugin.spect.ts
  packages/form-engine-react/package.json
  packages/form-engine-react/src/hooks/index.ts
  packages/form-engine-react/src/hooks/useForm.ts
  packages/form-engine-react/src/index.ts
  packages/form-engine-react/src/lib/index.ts
  packages/form-engine-react/src/lib/props.ts
  packages/form-engine-react/src/plugins/textInputPlugin.ts
  packages/form-engine-react/test/useForm.spec.ts
  packages/result/package.json
  packages/table-engine-react/package.json
  packages/use-async-reducer/package.json
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

Add typescript coverage report
  packages/cms/README.md
  packages/config/vite.js
  packages/form-engine-react/.eslintrc.js
  packages/form-engine-react/README.md
  packages/form-engine-react/src/hooks/index.ts
  packages/form-engine-react/src/hooks/useForm.ts
  packages/form-engine-react/src/index.ts
  packages/form-engine-react/test/useForm.spec.ts
  packages/github-actions/README.md
  packages/result/package.json
  packages/use-async-reducer/.eslintrc.js
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

eeeeh
  packages/form-engine-react/README.md
  packages/form-engine-react/old2/src/lib/index.ts
  packages/form-engine-react/old2/src/lib/plugin.ts
  packages/form-engine-react/old2/src/lib/validation.ts
  packages/form-engine-react/package.json
  packages/form-engine-react/src/lib/fields.ts
  packages/form-engine-react/src/lib/props.ts
  packages/form-engine-react/src/lib/util.ts
  packages/form-engine-react/src/lib/validation.ts
  packages/form-engine-react/test/useForm.spec.ts
  pnpm-lock.yaml
Labels: none

Fix package.json files
  package.json
  packages/config/package.json
  packages/form-engine-react/package.json
  packages/result/package.json
  packages/table-engine-react/package.json
  packages/use-async-reducer/package.json
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

update docs and some rules
  packages/config/README.md
  packages/config/eslint.js
  packages/config/nextjs.js
Labels: @quintal/config

Add changeset
  .changeset/large-pots-guess.md
Labels: none

Update linting dependencies
  package.json
  packages/config/eslint.js
  packages/config/package.json
  packages/form-engine-react/.eslintrc.js
  packages/form-engine-react/package.json
  packages/form-engine-react/src/hooks/useForm.ts
  packages/form-engine-react/src/lib/values.ts
  packages/form-engine-react/test/useForm.spec.ts
  packages/result/.eslintrc.js
  packages/result/package.json
  packages/table-engine-react/.eslintrc.js
  packages/table-engine-react/package.json
  packages/table-engine-react/src/lib/makeHead.ts
  packages/table-engine-react/src/plugins/renderPlugin.tsx
  packages/table-engine-react/test/plugin.spec.ts
  packages/table-engine-react/test/plugins/paginationPlugin.spec.ts
  packages/table-engine-react/test/plugins/renderPlugin.spec.tsx
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

Init environment package
  .changeset/sour-bears-buy.md
  .vscode/quintal-oss.code-workspace
  packages/config/tsconfig/base.json
  packages/environment/.eslintrc.js
  packages/environment/.prettierrc.js
  packages/environment/README.md
  packages/environment/package.json
  packages/environment/src/index.ts
  packages/environment/test/index.spec.ts
  packages/environment/tsconfig.json
  packages/environment/vite.config.js
  pnpm-lock.yaml
Labels: none

format package.json
  package.json
  packages/environment/.eslintrc.js
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/table-engine-react/package.json
Labels: none

Fix lockfile
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/result/package.json
  packages/table-engine-react/package.json
  pnpm-lock.yaml
Labels: @quintal/result

Add environment changeset
  .changeset/early-icons-chew.md
  packages/config/CHANGELOG.md
Labels: @quintal/config

Update CHANGELOG.md
  packages/environment/CHANGELOG.md
Labels: none

Update package.json
  packages/environment/package.json
Labels: none

Small code review
  .vscode/quintal-oss.code-workspace
  packages/result/test/index.spec.ts
Labels: none

Fix some docs typos
  packages/result/README.md
  packages/result/package.json
Labels: @quintal/result

Lint
  packages/result/src/index.ts
Labels: none

Add Option package, add transpose and flatten to result type and update some docs for result type
  packages/option/README.md
  packages/option/package.json
  packages/option/src/index.ts
  packages/option/test/index.spec.ts
  packages/option/tsconfig.json
  packages/option/vite.config.mjs
  packages/result/README.md
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
  pnpm-lock.yaml
Labels: @quintal/result

Write some docs
  .gitignore
  .vscode/quintal-oss.code-workspace
  biome.json
  packages/result/README.md
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
Labels: @quintal/result

Add some examples and tests
  .changeset/mean-tomatoes-eat.md
  .gitignore
  LICENSE
  biome.json
  packages/config/vite.js
  packages/result/package.json
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
  packages/result/tsconfig.json
  packages/result/vite.config.js
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

Combine result and option packages into one monads package
  .changeset/cyan-ads-greet.md
  .changeset/mean-tomatoes-eat.md
  packages/config/vite.mjs
  packages/monads/README.md
  packages/monads/package.json
  packages/monads/src/index.ts
  packages/monads/src/option.ts
  packages/monads/src/result.ts
  packages/monads/src/util.ts
  packages/monads/test/option.spec.ts
  packages/monads/test/result.spec.ts
  packages/monads/tsconfig.json
  packages/monads/vite.config.mjs
  packages/option/README.md
  packages/option/src/index.ts
  packages/result/CHANGELOG.md
  packages/result/package.json
  packages/result/tsconfig.json
  packages/result/vite.config.mjs
Labels: @quintal/config, @quintal/result

Use Biome instead of eslint+prettier
  .vscode/quintal-oss.code-workspace
  biome.json
  package.json
  packages/result/.eslintrc.js
  packages/result/.prettierrc.js
  packages/result/package.json
  packages/result/src/index.ts
  packages/result/src/old_index.ts
  packages/result/test/index.spec.ts
  packages/result/test/old_index.spec.ts
  pnpm-lock.yaml
Labels: @quintal/result

Add expect and expectErr implementation and tests
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
Labels: none

Add expect and expectErr methods
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
Labels: none

Finish methods overview in docs
  packages/result/README.md
Labels: @quintal/result

100% coverage
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
Labels: none

Write Result example in docs
  .changeset/cyan-ads-greet.md
  packages/option/README.md
  packages/option/package.json
  packages/option/src/index.ts
  packages/option/test/index.spec.ts
  packages/result/README.md
  packages/result/src/index.ts
Labels: @quintal/result

Add some more tests for and and or
  biome.json
  packages/config/package.json
  packages/config/vite.mjs
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
  packages/result/tsconfig.json
  packages/result/vite.config.mjs
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/result

Add most Rust methods for to Result monad
  biome.json
  packages/result/src/index.ts
  packages/result/src/old_index.ts
  packages/result/test/index.spec.ts
  packages/result/test/old_index.spec.ts
Labels: none

Add isOkAnd and isErrAnd
  packages/result/src/index.ts
  packages/result/test/index.spec.ts
Labels: none

Merge introductions
  packages/monads/README.md
Labels: none

Update lockfile
  pnpm-lock.yaml
Labels: none

Lint
  packages/config/vite.mjs
Labels: @quintal/config

Fix tests
  packages/environment/vite.config.js
  packages/environment/vite.config.mjs
  packages/form-engine-react/vite.config.js
  packages/form-engine-react/vite.config.mjs
  packages/form-engine-react/vite.config.mjs.timestamp-1706190710005-fb60853503b38.mjs
  packages/table-engine-react/vite.config.js
  packages/table-engine-react/vite.config.mjs
  packages/table-engine-react/vite.config.mjs.timestamp-1706190710003-fa69e095f0279.mjs
Labels: none
