Repository quintalwebsolutions/quintal-oss, changes with the labels that .github/labeler.yml gives for each.
All labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

.github/labeler.yml:

################################################################################
# THIS FILE IS (PARTIALLY) AUTO-GENERATED USING `pnpm generate`.               #
# TO EDIT THE CONTENT, PLEASE MODIFY `/workspace.ts` OR `/scripts/generate.ts` #
################################################################################

"@quintal/config":
  - changed-files:
    - any-glob-to-any-file: packages/config/*

"@quintal/environment":
  - changed-files:
    - any-glob-to-any-file: packages/environment/*

"@quintal/form-engine-react":
  - changed-files:
    - any-glob-to-any-file: packages/form-engine-react/*

"@quintal/monads":
  - changed-files:
    - any-glob-to-any-file: packages/monads/*

"@quintal/table-engine-react":
  - changed-files:
    - any-glob-to-any-file: packages/table-engine-react/*

Improve some docs and set up plans
  .changeset/bright-walls-prove.md
  .changeset/few-waves-taste.md
  .changeset/quick-tigers-sleep.md
  .changeset/real-pumpkins-type.md
  packages/monads/README.md
  packages/monads/src/result/result-constructor.ts
  packages/monads/src/result/result.ts
  packages/monads/tests/result.spec.ts
Labels: @quintal/monads

Rewrite Result structure
  .changeset/few-waves-taste.md
  .changeset/sixty-buses-clap.md
  packages/monads/old/option/index.ts
  packages/monads/old/option/option-constructor.ts
  packages/monads/old/option/option.ts
  packages/monads/old/option/util.ts
  packages/monads/old/result/AsyncResult.ts
  packages/monads/old/result/ResultDocs.ts
  packages/monads/oldtests/option.spe.ts
  packages/monads/oldtests/result.spe.ts
  packages/monads/src/index.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/src/result/async-result.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/result/index.ts
  packages/monads/src/result/result-constructor.ts
  packages/monads/src/result/result.ts
  packages/monads/src/result/types.ts
  packages/monads/src/result/util.ts
  packages/monads/src/util.ts
  packages/monads/tests/result.spec.ts
Labels: none

Do a whole bunch of test rewriting
  packages/monads/README.md
  packages/monads/old/option-constructor.ts
  packages/monads/old/option.spe.ts
  packages/monads/old/option.ts
  packages/monads/old/option/index.ts
  packages/monads/old/option/util.ts
  packages/monads/old/result.spe.ts
  packages/monads/old/result/AsyncResult.ts
  packages/monads/old/result/ResultDocs.ts
  packages/monads/src/index.ts
  packages/monads/src/option/AsyncOption.ts
  packages/monads/src/option/None.ts
  packages/monads/src/option/OptionDocs.ts
  packages/monads/src/option/Some.ts
  packages/monads/src/option/constructors.ts
  packages/monads/src/option/index.ts
  packages/monads/src/option/types.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/result/index.ts
  packages/monads/tests/result.spec.ts
  packages/monads/vite.config.mjs.timestamp-1731420834566-c11a5fd190577.mjs
Labels: @quintal/monads

Remove transpiled vite config
  packages/monads/vite.config.mjs.timestamp-1731420834566-c11a5fd190577.mjs
Labels: @quintal/monads

Bunch more tests
  packages/monads/old/result.spe.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/tests/result.spec.ts
Labels: none

Migrate boolean operators tests
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/tests/result.spec.ts
Labels: none

100 percent coverage on result
  packages/monads/old/result.spe.ts
  packages/monads/tests/result.spec.ts
Labels: none

Add resultFromResults constructor utility
  .changeset/bright-walls-prove.md
  .changeset/real-pumpkins-type.md
  packages/monads/README.md
  packages/monads/src/result/ResultDocs.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/result/types.ts
  packages/monads/tests/result.spec.ts
Labels: @quintal/monads

Fix pipeline
  biome.json
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/tsconfig.json
Labels: @quintal/monads

Allow to pass a promise to andThen and orElse to create an AsyncResult
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/tests/result.spec.ts
Labels: none

Fix some todos
  packages/monads/src/result/Ok.ts
  packages/monads/tests/result.spec.ts
Labels: none

Add support for async results in resultFromResults
  packages/monads/README.md
  packages/monads/src/option/types.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/result/types.ts
  packages/monads/src/util.ts
  packages/monads/tests/result.spec.ts
  packages/monads/tests/util.ts
Labels: @quintal/monads

Fix some exports
  packages/monads/README.md
  packages/monads/src/index.ts
  packages/monads/src/result/index.ts
  packages/monads/tests/result.spec.ts
Labels: @quintal/monads

Update workspace file
  workspace.ts
Labels: none

Remove old directory
  biome.json
  packages/monads/old/option-constructor.ts
  packages/monads/old/option.spe.ts
  packages/monads/old/option.ts
  packages/monads/src/option/None.ts
  packages/monads/src/option/OptionDocs.ts
  packages/monads/src/option/Some.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/util.ts
  packages/monads/tsconfig.json
Labels: @quintal/monads

Fix docs
  packages/monads/README.md
Labels: @quintal/monads

Transpose
  packages/monads/README.md
  packages/monads/src/option/constructors.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/src/result/constructors.ts
  packages/monads/tests/result.spec.ts
  workspace.ts
Labels: @quintal/monads

Implement flatten method
  packages/monads/README.md
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/tests/result.spec.ts
  workspace.ts
Labels: @quintal/monads

Fix some docs and configs
  .github/CODEOWNERS
  .vscode/quintal-oss.code-workspace
  CONTRIBUTING.md
Labels: none

Lots of upgrades and fixes
  biome.json
  package.json
  packages/config/package.json
  packages/config/tsconfig/base.json
  packages/config/tsconfig/nextjs.json
  packages/environment/package.json
  packages/environment/tsconfig.json
  packages/form-engine-react/package.json
  packages/form-engine-react/tsconfig.json
  packages/monads/package.json
  packages/monads/tests/result.spec.ts
  packages/monads/tsconfig.json
  packages/table-engine-react/package.json
  packages/table-engine-react/tsconfig.json
  pnpm-lock.yaml
  scripts/generate.ts
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Package json newlines
  packages/config/package.json
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/monads/package.json
  packages/table-engine-react/package.json
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Some more updates
  packages/config/package.json
  packages/config/tsconfig/base.json
  packages/environment/package.json
  packages/environment/tests/index.spec.ts
  packages/monads/package.json
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/environment, @quintal/monads

Some more fixesss
  packages/config/package.json
  packages/environment/package.json
  packages/environment/tsconfig.json
  packages/form-engine-react/package.json
  packages/form-engine-react/tsconfig.json
  packages/monads/package.json
  packages/monads/tsconfig.json
  packages/table-engine-react/package.json
  packages/table-engine-react/tsconfig.json
  pnpm-lock.yaml
  scripts/generate.ts
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Fix tsconfig formatting
  packages/config/tsconfig/base.json
  packages/config/tsconfig/nextjs.json
Labels: none

TSconfig tweaks
  packages/config/tsconfig/base.json
  packages/config/tsconfig/nextjs.json
Labels: none

Changesets
  .changeset/tame-shrimps-decide.md
  .changeset/twenty-crews-reflect.md
  .changeset/wild-rice-fold.md
Labels: none

Add file extensions to imports
  .vscode/quintal-oss.code-workspace
  biome.json
  packages/config/nextjs.ts
  packages/config/tsconfig/base.json
  packages/monads/src/index.ts
  packages/monads/src/option/AsyncOption.ts
  packages/monads/src/option/None.ts
  packages/monads/src/option/OptionDocs.ts
  packages/monads/src/option/Some.ts
  packages/monads/src/option/constructors.ts
  packages/monads/src/option/index.ts
  packages/monads/src/option/types.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/ResultDocs.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/result/index.ts
  packages/monads/src/result/types.ts
  packages/monads/tests/result.spec.ts
  packages/monads/tests/util.ts
Labels: @quintal/config

Export not default nextConfig
  biome.json
  packages/config/nextjs.ts
Labels: @quintal/config

Set target in tsconfig
  packages/config/tsconfig/base.json
Labels: none

WIP
  .gitignore
  biome.json
  packages/form-engine-react/README.md
  packages/form-engine-react/mock.ts
  packages/form-engine-react/my-app/.gitignore
  packages/form-engine-react/my-app/README.md
  packages/form-engine-react/my-app/next.config.ts
  packages/form-engine-react/my-app/package-lock.json
  packages/form-engine-react/my-app/package.json
  packages/form-engine-react/my-app/postcss.config.mjs
  packages/form-engine-react/my-app/public/file.svg
  packages/form-engine-react/my-app/public/globe.svg
  packages/form-engine-react/my-app/public/next.svg
  packages/form-engine-react/my-app/public/vercel.svg
  packages/form-engine-react/my-app/public/window.svg
  packages/form-engine-react/my-app/src/app/favicon.ico
  packages/form-engine-react/my-app/src/app/fonts/GeistMonoVF.woff
  packages/form-engine-react/my-app/src/app/fonts/GeistVF.woff
  packages/form-engine-react/my-app/src/app/globals.css
  packages/form-engine-react/my-app/src/app/layout.tsx
  packages/form-engine-react/my-app/src/app/page.tsx
  packages/form-engine-react/my-app/tailwind.config.ts
  packages/form-engine-react/my-app/tsconfig.json
  packages/form-engine-react/old/src/hooks/index.ts
  packages/form-engine-react/old/src/hooks/useForm.ts
  packages/form-engine-react/old/src/index.ts
  packages/form-engine-react/old/src/lib/index.ts
  packages/form-engine-react/old/src/lib/plugin.ts
  packages/form-engine-react/old/src/lib/props.ts
  packages/form-engine-react/old/src/lib/values.ts
  packages/form-engine-react/old/src/plugins/checkPlugin.ts
  packages/form-engine-react/old/src/plugins/index.ts
  packages/form-engine-react/old/src/plugins/numberPlugin.ts
  packages/form-engine-react/old/src/plugins/switchPlugin.ts
  packages/form-engine-react/old/src/plugins/textPlugin.ts
  packages/form-engine-react/old/tests/plugin.spec.ts
  packages/form-engine-react/old/tests/useForm.spec.ts
  workspace.ts
Labels: @quintal/form-engine-react

chore: update env package to support zod v4
  .changeset/orange-bags-cross.md
  package.json
  packages/config/package.json
  packages/environment/package.json
  packages/environment/src/index.ts
  packages/environment/tests/index.spec.ts
  packages/form-engine-react/package.json
  pnpm-lock.yaml
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react

Update biome config
  .vscode/quintal-oss.code-workspace
  biome.json
  biome.jsonc
Labels: none

Fix package.json
  packages/config/package.json
  packages/environment/package.json
  packages/form-engine-react/package.json
  packages/monads/package.json
  packages/table-engine-react/package.json
Labels: @quintal/config, @quintal/environment, @quintal/form-engine-react, @quintal/monads, @quintal/table-engine-react

Upgrade biome
  biome.jsonc
  packages/environment/src/index.ts
  packages/environment/tests/index.spec.ts
  pnpm-lock.yaml
Labels: none

Tweak config
  biome.jsonc
  packages/environment/src/index.ts
  packages/monads/src/index.ts
  packages/monads/src/option/index.ts
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/index.ts
  packages/monads/tests/result.spec.ts
Labels: none

Revert change of removing return types
  packages/monads/src/result/AsyncResult.ts
Labels: none

Make some structural changes to monads
  .changeset/loud-bees-jam.md
  biome.jsonc
  packages/monads/src/result/AsyncResult.ts
  packages/monads/src/result/Err.ts
  packages/monads/src/result/Ok.ts
  packages/monads/src/result/constructors.ts
  packages/monads/src/result/constructors/err.ts
  packages/monads/src/result/constructors/from-results.ts
  packages/monads/src/result/constructors/from-serialized.ts
  packages/monads/src/result/constructors/from-throwable.ts
  packages/monads/src/result/constructors/ok.ts
  packages/monads/src/result/index.ts
Labels: none

Lint the engine packages
  packages/form-engine-react/src/hooks/index.ts
  packages/form-engine-react/src/index.ts
  packages/form-engine-react/src/lib/index.ts
  packages/form-engine-react/src/lib/plugin.ts
  packages/form-engine-react/src/plugins/checkPlugin.ts
  packages/form-engine-react/src/plugins/index.ts
  packages/form-engine-react/src/plugins/numberPlugin.ts
  packages/form-engine-react/src/plugins/switchPlugin.ts
  packages/form-engine-react/src/plugins/textPlugin.ts
  packages/form-engine-react/tests/plugin.spec.ts
  packages/form-engine-react/tests/useForm.spec.ts
  packages/table-engine-react/src/index.ts
  packages/table-engine-react/src/lib/index.ts
  packages/table-engine-react/src/lib/makeBody.ts
  packages/table-engine-react/src/lib/makeHead.ts
  packages/table-engine-react/src/lib/makeTable.ts
  packages/table-engine-react/src/lib/util.ts
  packages/table-engine-react/src/plugins/defaultValuePlugin.ts
  packages/table-engine-react/src/plugins/index.ts
  packages/table-engine-react/src/plugins/paginationPlugin.ts
  packages/table-engine-react/src/plugins/renderPlugin.tsx
  packages/table-engine-react/src/types/index.ts
  packages/table-engine-react/src/types/inputs.ts
  packages/table-engine-react/src/types/outputs.ts
  packages/table-engine-react/src/types/plugins.ts
  packages/table-engine-react/tests/makeBody.spec.ts
  packages/table-engine-react/tests/makeHead.spec.ts
  packages/table-engine-react/tests/makeTable.spec.ts
  packages/table-engine-react/tests/plugin.spec.ts
  packages/table-engine-react/tests/plugins/defaultValuePlugin.spec.ts
  packages/table-engine-react/tests/plugins/paginationPlugin.spec.ts
  packages/table-engine-react/tests/plugins/renderPlugin.spec.tsx
Labels: none

Turnoff numeric separator rule
  biome.jsonc
  packages/table-engine-react/tests/makeBody.spec.ts
Labels: none

Fix changeset
  .changeset/twenty-crews-reflect.md
Labels: none
